In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Advertising.csv")
df.head()

       TV  radio  newspaper  sales
0  230100  37800      69200  22100
1   44500  39300      45100  10400
2   17200  45900      69300   9300
3  151500  41300      58500  18500
4  180800  10800      58400  12900

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    int64
 1   radio      200 non-null    int64
 2   newspaper  200 non-null    int64
 3   sales      200 non-null    int64
dtypes: int64(4)
memory usage: 6.4 KB

In [4]:
#EDA

In [5]:
df.describe()

                  TV         radio      newspaper         sales
count     200.000000    200.000000     200.000000    200.000000
mean   147042.500000  23264.000000   30554.000000  14022.500000
std     85854.236315  14846.809176   21778.620839   5217.456566
min       700.000000      0.000000     300.000000   1600.000000
25%     74375.000000   9975.000000   12750.000000  10375.000000
50%    149750.000000  22900.000000   25750.000000  12900.000000
75%    218825.000000  36525.000000   45100.000000  17400.000000
max    296400.000000  49600.000000  114000.000000  27000.000000

In [6]:
df.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000

In [7]:
X=df[['TV','radio','newspaper']]
y=df['sales']

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=42)

In [9]:
#step-4,5 - Modelling & evaluation

In [10]:
#lasso regression (default paramaters)

In [11]:
#modelling
from sklearn.linear_model import Lasso
lasso_base=Lasso()     
lasso_base.fit(X_train,y_train)

Lasso()

In [12]:
print("Intercept:",lasso_base.intercept_)
print("Coefficients:",lasso_base.coef_)

Intercept: 2708.9492419105354
Coefficients: [0.04405928 0.19928749 0.00688245]

In [13]:
#predictions
train_predictions=lasso_base.predict(X_train)
train_predictions=lasso_base.predict(X_test)

In [14]:
#evaluations
print(lasso_base.score(X_train,y_train))
print(lasso_base.score(X_test,y_test))

from sklearn.model_selection import cross_val_score
print("Cross validation score:",cross_val_score(lasso_base,X,y,cv=5).mean())

0.9055159502227752
0.8609466552563986
Cross validation score: 0.8871063511014737

In [15]:
#Applying Hyper parameter tuning for lasso regression

In [22]:
from sklearn.model_selection import GridSearchCV

estimator=Lasso()

param_grid={"alpha":[0.1,0.2,0.5,0.7,1,2,5,10,50,100,1000]}

model_hp=GridSearchCV(estimator,param_grid,cv=5,scoring='r2')
model_hp.fit(X_train,y_train)
model_hp.best_params_

{'alpha': 1000}

In [23]:
#rebuild lasso model using best hyperparameter

In [24]:
from sklearn.linear_model import Lasso  
lasso_best=Lasso(alpha=1000)     
lasso_best.fit(X_train,y_train) 

print("intercept:",lasso_best.intercept_)
print("coefficient:",lasso_best.coef_)

train_pred=lasso_best.predict(X_train)
test_pred=lasso_best.predict(X_test)

print("Train R2:", lasso_best.score(X_train,y_train))
print("Test R2:", lasso_best.score(X_test,y_test))

print("Cross validation score:",cross_val_score(lasso_base,X,y,cv=5).mean())

intercept: 2709.098263660846
coefficient: [0.04405919 0.19928357 0.00688106]
Train R2: 0.9055159500186224
Test R2: 0.8609510366713665
Cross validation score: 0.8871063511014737